.pd-price-container {
  margin-bottom: 16px;
  font-family: 'Montserrat', 'Segoe UI', Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #222;
  display: flex;
  align-items: flex-end;
  gap: 8px;
  flex-wrap: wrap;
}

.pd-sale-price {
  color: #f97316;
  font-weight: 500;
  font-size: 2rem;
  display: inline-flex;
  align-items: baseline;
  line-height: 1;
}


.pd-regular-price {
  color: #111827;
  position: relative;
  font-weight: 400;
  font-size: 1.12rem;
  display: inline-flex;
  align-items: baseline;
  line-height: 1;
  margin-bottom: 1px;
}

.pd-regular-int {
  font-size: 1em;
  font-weight: 400;
  color: #111827;
  line-height: 1;
}

.pd-regular-dec {
  font-size: 0.78em;
  font-weight: 400;
  color: #111827;
  line-height: 1;
}

.pd-regular-price::after {
  content: "";
  position: absolute;
  left: 0;
  top: 47%;
  width: 100%;
  border-bottom: 1.5px solid #f97316;
  transform: translateY(-50%);
  pointer-events: none;
}

.pd-discount-badge {
  padding: 2px 6px;
  border: 1px solid #fb923c;
  border-radius: 2px;
  font-size: 0.86rem;
  font-weight: 500;
  color: #ea580c;
  background-color: #fff7ed;
  line-height: 1.1;
  user-select: none;
  text-transform: uppercase;
  margin-bottom: 1px;
}

.price-wrapper {
  display: flex;
  align-items: baseline;
  gap: 0;
}

.pd-sale-currency {
  font-size: 0.5em;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1;
  color: #f97316;
}

.pd-sale-int {
  font-size: 1em;
  font-weight: 500;
  color: #f97316;
  line-height: 1;
}

.pd-sale-dec {
  font-size: 0.55em;
  font-weight: 500;
  color: #f97316;
  line-height: 1;
  transform: translateY(-0.02em);
}
